@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

tbody:before, thead:after {
    content: "-";
    display: block;
    line-height: 1rem;
    color: transparent;
}

th, td {
    padding: 1rem 0;
}
#title:after {
    content: " ";
    display: block;
    border-bottom: 3px solid #60A5FA;
    width: 40px;
    margin-top: 1rem;
}
